*.exe filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
data/voice-models/**/*.mp4 filter=lfs diff=lfs merge=lfs -text
data/voice-models/**/*.pth filter=lfs diff=lfs merge=lfs -text
